
region                      = "us-west-2"
availability_zone           = "a"

#
# Subnet bits = number of bits used in the cidr for subnet.
# e.g. 10.0.0.0/16 cidr with 8 subnet bits means each subnet is 10.0.0.0/24, 10.0.1.0/24, etc
#
subnet_bits                 = 8

#
# index in the subnet in the cidr range.
# e.g. index 1 in 10.0.0.0/16 is 10.0.1.0/24
#
public_subnet_index         = 1
private_subnet_index        = 2

#
# Variables likely to change
#
keypair                     = ""

#
# cp (customer_prefix) and env (environment) prepended to all resources created by the template.
# Used for identification. e.g. "<customer_prefix>-<prod/test/dev>"
#
cp                          = "prefix"
env                         = "env"
vpc_name_security           = "security"
vpc_cidr_security           = "10.0.0.0/16"

fgt_admin_password          = "Texas4me!"
fortios_version             = "7.2.4"
fgt_host_ip                 = 10

public_description         = "public"
private_description        = "private"

vpc_tag_key                 = "id-tag-key"
vpc_tag_value               = "id-tag-value"

#
# Fortigate Variables
# cidr_for_access goes into the inbound security group for the Fortigates. Current value is open. It may be wise to
# limit access to a jump box or specific IP/Subnet
#
cidr_for_access             = "0.0.0.0/0"
fortigate_instance_type     = "c5n.xlarge"
fortigate_instance_name     = "Fortigate"
acl                         = "private"

fgt_sg_name                 = "fortigate"

#
# Endpoints Variables
#
ec2_sg_name                 = "ec2"
linux_instance_name         = "Linux Instance"
linux_instance_type         = "t2.micro"
linux_host_ip               = 11

